body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: aqua;
  padding: 0 2rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  padding: 0;
  margin: 0 1rem;
}

.main-header__link {
  text-decoration: none;
  color: red;
}

.main-header__link:hover,
.main-header__link.active {
  color: blue;
}
main {
  padding: 1rem;
}
