.product-form {
  width: 30rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid rgb(32, 43, 168);
  font: inherit;
  border-radius: 5px;
}

button {
  font: inherit;
  border: 1px solid rgb(32, 43, 168);
  background-color: rgb(36, 177, 107);
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
}
button:hover,
button:focus {
  background-color: whitesmoke;
  color: rgb(36, 177, 107);
}
